* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color:aliceblue;
}

.titulo{
  display: inline;
  color:black; 
  padding: 10px;
  font-size: 15px;
  text-align: center;
}

.typewrite{
  margin: none;
}

header{
  margin: 0;
  background-color: aquamarine;
}

.links{
  display: flex;
  justify-content: space-around;
  padding: 5px;
  background-color: rgb(58, 174, 174);
}

.link{
  flex-grow: 1;
  font-size: 20px ;
}