* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color:aliceblue;
}

.titulo{
  display: flex;
  justify-content: center;
  color:black; 
  padding: 10px;
}

.typewrite{
  float: right;
  margin: none;
}

header{
  margin: 0;
  background-color: aquamarine;
}

.links{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  background-color: rgb(58, 174, 174);
}

.link{
  font-size: 24px ;
}