* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color:aliceblue;
}

h1{
  text-align: center;
  color:#fff;
  color:#fff; 
  text-decoration: none;
}

.teste{
  color: black;
  position: relative;
}

header{
  margin: 0;
  background-color: aquamarine;
}

.links{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(58, 174, 174);
}

.link{

  text-decoration: none;
}